[Desktop Entry]
Name=Shortee
Exec=ubuntu-html5-app-launcher $@ --www=www --inspector
Icon=shortee.png
Terminal=false
Type=Application
X-Ubuntu-Touch=true

